{% extends "base.html" %}
{% block title %}Book a Car{% endblock %}
<h1>{% block header %}Book Car{% endblock %}</h1>
{% block content %}
<div class="container">
    <form method="post" action="{% url 'create_booking' car.id %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <small style="color: #666;">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="car-details" data-price-per-day="{{ car.price_per_day }}">
            <p>Price per day: ${{ car.price_per_day }}</p>
            <p id="totalPrice">Total Price: </p>
        </div>
        <div class="form-group">
            <input type="submit" value="Book Now">
        </div>
    </form>
</div>

<!-- Script for Price Calculation -->
<script>
    document.getElementById('id_pickup_date').addEventListener('change', calculatePrice);
    document.getElementById('id_return_date').addEventListener('change', calculatePrice);
</script>

<!-- Script for Date Fields Logic -->
<script>
    var startDateInput = document.querySelector('[name="pickup_date"]');
    var endDateInput = document.querySelector('[name="return_date"]');

    function updateOrClearEndDate() {
        var startDate = startDateInput.value;
        var endDate = endDateInput.value;

        endDateInput.setAttribute('min', startDate);

        if (startDate > endDate) {
            endDateInput.value = '';
        }
    }

    startDateInput.addEventListener('change', updateOrClearEndDate);
    endDateInput.addEventListener('change', updateOrClearEndDate);

    updateOrClearEndDate(); // Initial call to set up the form when the page loads
</script>


    <script>
    var carDetailsElement = document.querySelector('.car-details');
    var pricePerDay = parseFloat(carDetailsElement.dataset.pricePerDay);

    function calculatePrice() {
        var startDate = new Date(startDateInput.value);
        var endDate = new Date(endDateInput.value);
        var timeDiff = endDate - startDate;
        var days = Math.ceil(timeDiff / (1000 * 3600 * 24));

        if (days > 0) {
            var totalPrice = days * pricePerDay;
            document.getElementById('totalPrice').textContent = 'Total Price: $' + totalPrice.toFixed(2);
        } else {
            document.getElementById('totalPrice').textContent = 'Total Price: ';
        }
    }

    var startDateInput = document.querySelector('[name="pickup_date"]');
    var endDateInput = document.querySelector('[name="return_date"]');

    startDateInput.addEventListener('change', calculatePrice);
    endDateInput.addEventListener('change', calculatePrice);
</script>
{% endblock %}
