{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}
{% block header %}User Profile{% endblock %}
{% block content %}
<div class="container">
    <div class="profile-info">
        <h3>Username: {{ user.username }}</h3>
        <h4>Email: {{ user.email }}</h4>
        <!-- Add more user details here -->
    </div>

    <h2>My Bookings</h2>
    {% if user.booking_set.all %}
        <div class="bookings">
            {% for booking in user.booking_set.all %}
                <div class="booking">
                    <h3>Booking: {{ booking.car.make }} {{ booking.car.model }}</h3>
                    <p>Start Date: {{ booking.start_date }}</p>
                    <p>End Date: {{ booking.end_date }}</p>
                    <p>Transmission Type: {{ booking.transmission_type }}</p>
                    <p>Price: ${{ booking.price }}</p>
                    {% if booking.gps_service %}
                        <p>GPS Service: Yes</p>
                    {% else %}
                        <p>GPS Service: No</p>
                    {% endif %}
                    {% if booking.additional_requests == ''%}
                        <p>Additional Requests: None</p>
                    {% else %}
                        <p>Additional Requests: {{ booking.additional_requests }}</p>
                    {% endif %}
                    <!-- Add more booking details here -->
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>You have no bookings.</p>
    {% endif %}
</div>
{% endblock %}
