{% extends "base.html" %}
{% block title %}{{ car.make }} {{ car.model }}{% endblock %}
<h1>{% block header %}{{ car.make }} {{ car.model }}{% endblock %}</h1>
{% block content %}
<div class="car-details">
    <div class="car-attribute">
        <strong>Year of Production:</strong> {{ car.year_of_production }}
    </div>
    <div class="car-attribute">
        <strong>Price per day:</strong> {{ car.price_per_day }}
    </div>
    <a href="{% url 'create_booking' car.id %}" class="booking-button">Book this Car</a>
</div>
<!--<a href="{% url 'cars_list' %}" class="back-link">Back to Cars List</a>-->
{% endblock %}
