{% extends "base.html" %}
{% block title %}Cars List{% endblock %}
<h1>{% block header %}Cars List{% endblock %}</h1>
{% block content %}
<div class="car-tile-container">
    {% for car in cars %}
        <!-- Each car tile is a link to the car's detail page -->
        <a href="{% url 'car_detail' car.id %}" class="car-tile">
            <img src="{{ car.image_url }}" alt="{{ car.make }} {{ car.model }}" class="car-image">
            <div class="car-info">
                <h2>{{ car.make }} {{ car.model }}</h2>
                <p>Year: {{ car.year_of_production }}</p>
                <p>Price per day: {{ car.price_per_day }}</p>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}
