{% extends "base.html" %}
{% block title %}Book a Car{% endblock %}
<h1>{% block header %}Book Car{% endblock %}</h1>
{% block content %}
<div class="container">
    <form method="post" action="{% url 'create_booking' car.id %}">
    {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <small style="color: #666;">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <p id="totalPrice">Total Price: </p>
        <div class="form-group">
            <input type="submit" value="Book Now">
        </div>
    </form>
</div>
<script>
    document.getElementById('id_start_date').addEventListener('change', calculatePrice);
    document.getElementById('id_end_date').addEventListener('change', calculatePrice);
</script>
{% endblock %}
